*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: auto;
}
header{
    height: 70px;
    background-color: rgb(170, 169, 169);
    padding: 10px 0px;
   
}
.header-content{
    display: flex;
    justify-content: space-between;
  
    
}
.header-content .brand{
    font-size: 30px;
     text-decoration: none;  
    color: white;
    margin-left: -100px;
}
.header-welcome h2{

    margin-left: 60px;
    color: blue;
    font-size: 30px;
    margin-top: 8px;
}
/* .nav-item {
background-color: rgb(182, 182, 182);
} */
nav ul{
    display: flex;
    list-style: none;
  
}
nav li a{
    display: block;
    color: white;
    min-width: 80px;
    padding: 5px;
    margin: 0px 5px;
    text-decoration: none;  
}

nav ul#user_info li i {
    color: blue;
    font-size: 25px;
    cursor: pointer;
}
nav ul#user_info li{
    margin: 0px 10px;
    position: relative;
}
nav ul#user_info li .badge{
    position: absolute;
    width: 20px;
    height: 20px;
    color: blue;
    text-align: center;
    display: block;
    border-radius: 50%;
    bottom: -9px;
    right: -10px;
    font-size: 13px;
}
.dropdown-menu{
    background-color: rgb(185, 184, 184);
 
  
}
.dropdown-item{
    border: 1px solid gainsboro;
    background-color: white;
    display: flex;
}

/* //////////////////////////////////////////////// */
/* .carts_products{
    position: absolute;
    width: 210px;
    transform: translate(-40px,0);
    background-color: white;
    top: 56px;
    padding: 10px;
    border: 1px solid green;
    display: none;
}
.carts_products a{
  display: block;
  color: black;
  margin: 4px 0;
  padding: 0;
  background-color: darkgreen;
  color: white;
  text-align: center;
  text-decoration: none;
} */

/* ////////////////////////////////////////////////////////////////// */
.top-bar{
    margin-top: 20px;
}
.navbar-b{
    display: flex;
   align-items: center;
    justify-content: space-between;
   
}
.dropdown{
    width: 130px;
    text-align: center;
}
select{
    outline: none;
    border: none;
    background: none;
    padding: 7px 10px 7px 0px;
    color: black;
    font-family: 18px;
    cursor: pointer;
    width: 550px;
    margin-left: 100px;
    border-radius: 5px;
}
select:hover{
    color: #333;
}
.search{
    margin-right: 100px;

   border: 1px solid black; 
   border-radius: 5px;
} 
.search input{
    width: 550px;
    padding: 5px;
    border: none;
    
}





/* ////////////////////////////////////////////////////////////// */









/* //////////////////////////// */
/* .section-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 45%;
    text-align: center;
    background-color: aqua;
    padding: 15px;
}
.section-form h2{
    font-size: 50px;
    letter-spacing: 2px;
    color: purple;
}
.section-form form input{
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 10px;
    border: 1px solid white;
    padding: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: none;
}
.section-form form input[type="submit"]:hover{
    opacity: 0.5;
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* .products{
    width: 60%;
    margin: 10px 0;
}
.products_item{
    display: flex;
    width: 100%;
   
    border: 1px solid #addd;
    min-height: 150px;
    height: 20px;
    margin-bottom: 10px;
    
}
.products_item_img{
    width: 25%;
    margin-right: 10px;
}
.products_item_desc{
    margin-left: 20px;
}
.products_item_action{
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.products_item .add_to_cart{
    display: block;
    margin-left: auto;
    background-color: green;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.products_item .fav{
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;
}  */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
.products{
    width: 80%;
    margin: auto;
    margin: 55px 0;
    display: flex;
    margin-left: -40px;
}
.products-1{
    width: 80%;
    margin: auto;
    margin: 55px 0;
    display: flex;
    margin-left: -40px;
}
.products-2{
    width: 80%;
    margin: auto;
    margin: 55px 0;
    display: flex;
    margin-left: -40px;
}
.products_item{
    background-color:rgb(230, 230, 230);
    border: 1px solid gainsboro;
    min-height: 50px;
    margin-bottom: 10px;
    margin: 0 20px;
}
/* .products :hover{
    transform: scale(1.1);
}
.products-1 :hover{
    transform: scale(1.1);
}
.products-2 :hover{
    transform: scale(1.1);
} */
.products_item_img{
    height: 200px;
    width: 200px;
    margin-right: 70px;
    margin-left: 70px;
}
.products_item_desc{
    margin-left: 20px;
}
.products_item_action{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.products_item .add_to_cart{
    display: block;
    background-color: blue;
    color: white;
    border: 0;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.products_item .fav{
    cursor: pointer;
    display: block;
    width: 30px;
    margin-left: auto;
    margin-top: 10px;
    color: rgb(31, 30, 30);
}
.add_to_cart a{
    text-decoration: none; 
    color: white;
}
